# Emissions Model Training with K-Means Clustering

This file contains the model training for K-Means clustering aiming to group boroughs into clusters based on pollution caused by different types of vehicles.


#### Objective:
The objective is to train a K-Means clustering model that categorizes boroughs into clusters based on their overall emissions profile.

#### Input:
The input data consists of the following features:

| Name                   | Description                                 | Column Name           | Data Type |
|------------------------|---------------------------------------------|-----------------------|-----------|
| Borough Name           | Exact borough name                          | BoroughName_ExactCut  | Object    |
| Pollutant              | Amount of pollution caused by vehicles      | Pollutant             | Float64   |
| Petrol Car             | Amount of pollution caused by petrol cars   | PetrolCar             | Float64   |
| Diesel Car             | Amount of pollution caused by diesel cars   | DieselCar             | Float64   |
| Petrol LGV             | Amount of pollution caused by petrol LGVs   | PetrolLgv             | Float64   |
| Diesel LGV             | Amount of pollution caused by diesel LGVs   | DieselLgv             | Float64   |
| Electric Car           | Amount of pollution caused by electric cars | ElectricCar           | Float64   |
| Electric LGV           | Amount of pollution caused by electric LGVs | ElectricLgv           | Float64   |

#### Output:
The trained K-Means clustering model groups boroughs into clusters based on their overall emissions profile.

### Imports

In [2]:
import pandas as pd

### Reading the Dataset

In [3]:
pd.read_csv('./data/emissions_clean_train.csv')

,BoroughName_ExactCut,Length (m),Pollutant,PetrolCar,DieselCar,PetrolLgv,DieselLgv,ElectricCar,ElectricLgv
0,Sutton,45.107010,PM25_Exhaust,0.000009,0.000066,3.799868e-08,0.000028,0.000000e+00,0.000000e+00
1,Bromley,62.022810,PM25_Tyre,0.001003,0.000595,2.588475e-06,0.000130,5.319796e-07,7.445220e-08
2,Croydon,111.885582,PM25_Brake,0.001932,0.001146,1.002070e-05,0.000503,1.024189e-06,2.882250e-07
3,Hounslow,9.980484,PM10_Tyre,0.000205,0.000122,1.206538e-06,0.000061,1.089011e-07,3.470361e-08
4,Bromley,97.352526,PM10_Exhaust,0.000193,0.001376,7.926688e-07,0.000576,0.000000e+00,0.000000e+00
...,...,...,...,...,...,...,...,...,...
292971,Barnet,98.491668,CO2,20.303021,11.169755,8.849195e-02,3.985283,0.000000e+00,0.000000e+00
292972,Bromley,24.505723,PM10_Exhaust,0.000124,0.000899,5.166168e-07,0.000383,0.000000e+00,0.000000e+00
292973,Brent,8.602341,PM10_Brake,0.000298,0.000177,1.220624e-06,0.000061,1.579268e-07,3.510876e-08
292974,Hillingdon,118.818462,PM25_Brake,0.005057,0.003001,1.903584e-05,0.000956,2.681507e-06,5.475271e-07
292975,Merton,16.132628,PM25_Tyre,0.000132,0.000078,7.218271e-07,0.000036,6.999647e-08,2.076189e-08